@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


.header-text{
    width: 100%;
    height: 32px;
    background-color: #004081;
}

.header-text p{
    font-size: 16px;
    color: white;
    margin: 0;
    margin-left: 100px;
    padding-top: 4px;
    font-style: italic;
    font-weight: 500;
}

.header{
    height: 100px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #D8D8D8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.EnergieFrance{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.logoEnergieFrance{
    height: 64px;
    width: 64px;
}

.EnergieFrance h2{
    font-weight: 500;
    font-size: 22px;
    color: #004081;
}

.EnergieFrance p{
    font-weight: 500;
    font-size: 11px;
    color: black;
}

.EnergieFrance div{
    margin-top: 4px;
    margin-left: 4px;
    line-height: 4px;
}


.logo1{
    width: 100px;
}

.logo2{
    width: 70px;
}

.logo3{
    width: 140px;
}

.logo4{
    width: 65px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 32px;
    margin-right: 100px;
}



footer{
    height: 100px;
    width: 100%;
    background-color: #22234A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}

.footer-link{
    color: white;
    text-decoration: none;
}

.footer-link:first-child{
    font-weight: bold;
}





.home{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: "";
    background-color: rgb(255, 255, 255);
    background-image: url('assets/home.png');
    background-position: center center; /* Centre l'image horizontalement et verticalement */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-size: cover; /* L'image est redimensionnée pour couvrir toute la div, ce qui peut entraîner des débordements */
    background-size: 150%; /* Zoom sur l'image (150% pour que l'image dépasse en hauteur et en largeur) */

}

.home h1{
    margin: 0px;
    font-weight: 500;
    text-transform: uppercase;
    color: #004081;
    margin-top: 28px;
    font-size: 40px;
}

.home h2{
    margin: 0px;
    font-weight: 600;
    color: #004081;
    margin-top: 18px;
    font-size: 28px;
    line-height: 28px;
}

.home p{
    margin: 0px;
    font-weight: 600;
    color: #004081;
    text-decoration: underline;
    font-size: 18px;
}

.landbotContainer{
    margin-top: 32px;
    width: 100%;
    height: 60vh;
    max-width: 1280px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-shadow: 0 0 10px 10px rgba(0, 94, 188, 0.2);
}

#myLandbot{
    width: 100%;
    height: 100%;
}

.SectionText{
    height: auto;
    min-height: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #22234A;
    color: white;
}

.SectionText div{
    max-width: 1280px;
}

.SectionText h3{
    font-size: 24px;
    font-weight: 500;

}

.SectionText p{
    font-size: 21px;
    text-align: justify;
}

.SectionText .bold{
    font-weight: 600;
}

.SectionText .highlight{
    font-weight: 600;
    color: #0A7CFF;
}


.avisGoogle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 380px;
    width: 100%;
    background-color: white;
}

.avisGoogle div{
    max-width: 1280px;
}

.avisGoogle h2{
    font-size: 32px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

.avisGoogle .AvisTitre{
    color: #004081;
}






.butonTp{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004081;
    color: white;
    gap: 48px;
}

.butonTp p{
    font-size: 24px;
    font-weight: 300;
}

.butonTp a{
    text-decoration: none;
    font-size: 22px;
    background-color: #0A7CFF;
    height: 46px;
    width: 292px;
    border-radius: 3px;
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}








.section1 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 4vh;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}

.section1 h3 {
    font-size: 21px;
    font-weight: 500;
}

.section1 .itemsFlexBox {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 4vw;
    width: 100%;
    max-width: 1400px;
}

.section1 .itemsFlexBox .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex: 1; /* Prend un espace égal dans le flexbox */
    max-width: 300px;
    min-width: 20vw; /* Largeur minimale pour garantir une mise en page cohérente */
    gap: 15px;
    background: #ffffffcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0);
    min-height: 200px; /* Définir une hauteur minimale */
    height: 100%; /* S'étend pour égaliser les hauteurs */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.257);
}


.section1 .itemsFlexBox .item:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.257);
}


.section1 .itemsFlexBox h2 {
    font-size: 45px;
}






.banner{
    height: 628px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
    overflow: hidden;  
}

.banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.avis {
    height: auto;
    min-height: 316px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22234A;
}

.avis .avisContainer{
    max-width: 960px;
    color: white;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avis .avisContainer .bold{
    font-weight: 600;
}
 
.avis .avisContainer .avisContainerFlexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.avis .avisContainer .avisContainerFlexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.avis .avisContainer .avisContainerFlexbox img{
    margin-top: 10px;
}

.avis .avisContainer .avisContainerFlexbox div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avis .avisContainer .avisContainerFlexbox div h6{
    margin: 0%;
    font-size: 18px;
    font-weight: 300;

}

.avis .avisContainer .avisContainerFlexbox div p{
    margin: 0%;
    font-size: 16px;
    font-weight: 300;
    color: #9A9A9A;
}



.phone{
    min-height: 712px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.phone .phoneContainer{
    max-width: 960px;
    display: flex;
    flex-direction: row;
}

.phone .phoneContainer div{
    padding-right: 64px;
    margin-top: 32px;
}

.phone .phoneContainer div h2{
    font-size: 28px;
    font-weight: 600;
    color: black;
}

.phone .phoneContainer div .highlight{
    color: #004081;
}

.phone .phoneContainer div p{
    font-size: 22px;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 32px;
}

.phone .phoneContainer div a{
    text-decoration: none;
    font-size: 20px;
    background-color: #22234A;
    height: 80px;
    width: 256px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}

.phone .phoneContainer div .miniTxt{
    font-size: 14px;
    font-weight: 500;
    color: #004081;
    margin-top: 8px;
}

.phone .phoneContainer img{
    position: relative; /* Permet de déplacer l'image par rapport à sa position initiale */
    top: -72px; /* Décale l'image de 20px vers le haut */
}




.stats{
    height: 288px;
    width: 100%;
    background-color: #22234A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statsContainer{
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 24px;
}

.stats .statsContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.stats .statsContainer div h3{
    font-family: 'Poppins';
    font-size: 96px;
    font-weight: 100;
    color: white;
    text-align: center;
    margin: 0%;
    line-height: 96px;
}

.stats .statsContainer div p{
    font-weight: 100;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 0%;
}



.aides{
    min-height: 350px;
    width: 100%;
    background-color: white;
}

@media (max-width: 1700px){
    .home{
        background-color: rgb(255, 255, 255);
        background-size: 193%;
    }
}


@media (max-width: 1320px) {

    .home{
        background-color: rgb(255, 255, 255);
        background-image: url('assets/home.png');
        background-position: center 170px; /* Décale l'image de fond de 200px vers le bas */
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 200%;
    }

    .SectionText div{
        margin: 24px;
    }

    .banner{
        height: 512px;
    }

    .landbotContainer{
        width: 90vw;
    }
}



@media (max-width: 1100px) {
    .header-text{
        height: 24px;
    }
    
    .header-text p{
        font-size: 14px;
        margin-left: 64px;
        padding-top: 2px;
    }
    
    .header{
        height: 80px;
    }
    
    .EnergieFrance{
        margin-left: 64px;
    }
    
    .logoEnergieFrance{
        height: 46px;
        width: 46px;
    }
    
    .EnergieFrance h2{
        font-size: 16px;
    }
    
    .EnergieFrance p{
        font-size: 11px;
    }
    
    .EnergieFrance div{
        margin-top: 4px;
        margin-left: 4px;
        line-height: 4px;
    }
    
    
    .logo1{
        width: 66px;
    }
    
    .logo2{
        width: 46px;
    }
    
    .logo3{
        width: 94px;
    }
    
    .logo4{
        width: 42px;
    }
    
    .logo{
        gap: 24px;
        margin-right: 64px;
    }



    footer{
        height: 80px;
    }
    
    .footer{
        font-size: 14px;
    }





    .home h1{
        text-align: center;
        margin-top: 28px;
        font-size: 32px;
        line-height: 36px;
    }

    .home h2{
        text-align: center;
        margin-top: 8px;
        font-size: 24px;
        line-height: 28px;
    }

    .home p{
        text-align: center;
        font-size: 16px;
    }

    .landbotContainer{
        width: 90vw;
        margin-top: 16px;
        margin-bottom: 48px;
    }


    .butonTp{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
    
    .butonTp p{
        font-size: 21px;
    }
    
    .butonTp a{
        font-size: 18px;
        height: 42px;
        width: 272px;
    }


    .banner{
        height: 468px;
    }


    .avis .avisContainer{
        margin: 24px;
    }


    .phone{
        min-height: 564px;
        height: 560px;
    }

    .phoneContainer{
        margin-top: 96px;
    }
    
    .phone .phoneContainer div{
        padding-right: 32px;
        margin-left: 24px;
        margin-top: 16px;
    }
    
    .phone .phoneContainer div h2{
        font-size: 24px;
    }
    
    
    .phone .phoneContainer div p{
        font-size: 19px;
        margin-bottom: 28px;
    }
    
    .phone .phoneContainer div a{
        font-size: 18px;
        height: 60px;
        width: 196px;
    }
    
    .phone .phoneContainer div .miniTxt{
        font-size: 13px;
        margin-top: 6px;
    }
    
    .phone .phoneContainer img{
        top: -88px; /* Décale l'image de 20px vers le haut */
        transform: scale(0.84);
    }




    .stats{
        height: 224px;
    }
    
    .statsContainer{
        margin: 24px;
    }
    
    .stats .statsContainer div{
        gap: 8px;
    }
    
    .stats .statsContainer div h3{
        font-size: 76px;
        line-height: 76px;
    }
    
    .stats .statsContainer div p{
        font-weight: 100;
        font-size: 19px;
        color: white;
        text-align: center;
        margin: 0%;
    }
}



@media (max-width: 946px) {
    .butonTp{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    
    .butonTp p{
        font-size: 21px;
        margin: 0%;
        margin-top: 16px;
        text-align: justify;
        margin-left: 24px;
        margin-right: 24px;
    }
    
    .butonTp a{
        font-size: 18px;
        height: 42px;
        width: 272px;
        margin-bottom: 16px;
    }


    .banner{
        height: 396px;
    }
}



@media (max-width: 768px) {
    .header-text{
        height: 24px;
    }
    
    .header-text p{
        font-size: 13px;
        color: white;
        margin-left: 0px;
        padding-top: 2px;
        text-align: center;
    }
    
    .header{
        height: 68px;
    }
    
    .EnergieFrance{
        margin-left: 24px;
    }
    
    .logoEnergieFrance{
        height: 46px;
        width: 46px;
    }
    
    .EnergieFrance h2{
        font-size: 15px;
    }
    
    .EnergieFrance p{
        font-size: 10px;
    }
    
    .EnergieFrance div{
        margin-left: 2px;
    }
    
    
    .logo1{
        display: none;
    }
    
    .logo2{
        width: 46px;
    }
    
    .logo3{
        display: none;    }
    
    .logo4{
        width: 42px;
    }
    
    .logo{
        gap: 16px;
        margin-right: 24px;
    }



    footer{
        height: 80px;
    }
    
    .footer{
        font-size: 14px;
        padding-left: 24px;
        padding-right: 24px;
    }


    .home{
        background-color: rgb(255, 255, 255);
        background-image: url('assets/home.png');
        background-position: center 0px; /* Décale l'image de fond de 200px vers le bas */
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 270%;
    }
    
    .SectionText div{
        margin: 24px;
    }
    
    .SectionText h3{
        font-size: 22px;
    }
    
    .SectionText p{
        font-size: 19px;
    }



    .section1 {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-top: 64px;
        gap: 4vh;
        text-align: center;
    }

    .section1 h2{
        font-size: 24px;
    }
    
    .section1 .itemsFlexBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        max-width: 500px;
    }


    .banner{
        height: 320px;
    }


    .avis .avisContainer{
        font-size: 16px;
        margin-bottom: 46px;
    }

    .avis .avisContainer .avisContainerFlexbox div h6{
        font-size: 16px;
    }
    
    .avis .avisContainer .avisContainerFlexbox div p{
        font-size: 14px;
    }





    .phone{
        min-height: 564px;
        height: auto;
    }

    .phone .phoneContainer{
        margin-top: 16px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .phone .phoneContainer div{
        position: relative;
        padding-right: 0px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 16px;
        top: -140px;
    }
    
    .phone .phoneContainer div a{
        margin-left: 32%;
        margin-right: auto;
    }
    
    .phone .phoneContainer div .miniTxt{
        margin-left: 32%;
    }
    
    .phone .phoneContainer img{
        top: -88px; /* Décale l'image de 20px vers le haut */
        width: 320px; /* Réduit la largeur de l'image à 75% de sa taille d'origine */
    }


    .stats{
        height: auto;
        position: relative;
        top: -140px;
    }
    
    .statsContainer{
        flex-direction: column;
        margin: 24px;
        gap: 64px;
        margin: 24px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
    
    .stats .statsContainer div{
        gap: 8px;
    }
    
    .stats .statsContainer div h3{
        font-size: 76px;
        line-height: 76px;
    }
    
    .stats .statsContainer div p{
        font-weight: 100;
        font-size: 19px;
        color: white;
        text-align: center;
        margin: 0%;
    }
}



@media (max-width: 496px) {
    .banner{
        height: 260px;
    }

    .phone .phoneContainer div a{
        margin-left: 24%;
        margin-right: auto;
    }

    .phone .phoneContainer div .miniTxt{
        margin-left: 24%;
    }
}